@import "reset.css";
#cssdata {
  display: none !important;
  font-family: '{"input-letter-width":10,"input-letter-height":10}';
}
body {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: monospace;
}
input[type=text] {
  font-family: monospace;
}
.loading {
  background-color: red;
}
.definition-list {
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  min-height: 100%;
}
.definition-item {
  position: relative;
  height: 20px;
}
.definition-item.expanded {
  height: auto;
}
.definition-item.expanded .description {
  display: block;
}
.definition-item .title,
.definition-item .description {
  width: 90%;
  padding-left: 20px;
}
.definition-item .title {
  margin: 0;
}
.definition-item .description {
  display: none;
}
.definition-item .toggle {
  position: absolute;
  top: 0;
  left: 0;
}
.definition-item .insert {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
}
.visual-editor {
  background-color: #727272;
  position: absolute;
  top: 0;
  left: 15%;
  width: 85%;
  min-height: 100%;
}
.visual-node {
  position: absolute;
  width: 180px;
  min-height: 120px;
  background-color: #ffffff;
  border: solid 2px #000;
  border-radius: 10px;
}
.visual-node.selected {
  background-color: #ffff00;
}
.visual-node.focus {
  background-color: #ffff00;
}
.visual-node.focus .delete {
  display: block;
}
.visual-node .draggable-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.visual-node .delete {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: solid 1px #000;
  background-color: #fff;
  display: none;
}
.visual-node .title {
  position: absolute;
  width: 100%;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 0;
  padding: 0;
  text-align: center;
}
.visual-node .inputs {
  position: absolute;
  right: 94%;
  top: 10px;
}
.visual-node-input {
  height: 22px;
  margin-bottom: 5px;
}
.visual-node-input .label .text {
  position: absolute;
  margin-left: 3px;
  line-height: 22px;
}
.placeholder.visual-node-input .label .text {
  color: #999999;
}
.visual-node-input .label .input,
.visual-node-input .label .input-mirror {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: solid 1px black;
  text-align: right;
  background-color: white;
  font-size: 13px;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 6px;
}
.visual-node-input .label .input {
  opacity: 0;
  width: 100px;
}
.visual-node-input .label .input:focus {
  opacity: 1;
}
.visual-node-input .label .input:focus + .input-mirror {
  display: none;
}
.placeholder.visual-node-input .label .input-mirror {
  color: #999999;
  border-color: #999999;
}
