@import "vendor.less";
@import "reset.css";

// Variables -------------------------------------------------------------------
@font-family: monospace;

@link-line-width: 2;
@link-line-color: black;

@visual-node-min-width: 150px;
@visual-node-min-height: 30px;

@connector-height: 20px;
@connector-connected-width: 21px;
@connector-focus-input-width: 100px;
@connector-input-offset: 15px;
@connector-text-offset: -10px;
@connector-font-size: 11px;

@delete-button-height: 25px;
@delete-button-width: 25px;

@connector-border: solid 1px #000;
@button-border: solid 1px #000;
@visual-node-border: solid 2px #000;

@visual-editor-bg-color: #727272;
@visual-node-bg-color: rgba(255,255,255, 0.9);
@visual-node-selected-bg-color: rgba(255,255,200, 0.9);
@visual-node-focus-bg-color:rgba(255,255,200, 0.9);
@connector-bg-color: white;
@delete-button-bg-color: #fff;
@delete-button-text-color: red;
@collection-adder-button-bg-color: #fff;
@collection-adder-button-text-color: black;

@input-placeholder-color: #999;
@link-background-color: #000;

// Mixins ----------------------------------------------------------------------
.connector-input-style(){
	height: 100%;
	.appearance(none);
	border: @connector-border;
	text-align: right;
	background-color: @connector-bg-color;
	font-size:  @connector-font-size;
	margin: 0;
	position: absolute;
	top: 0;
	.box-sizing(border-box);
	padding: 4px 6px;
}

.connected-connector(){
	width: @connector-connected-width;
	overflow: hidden;
	font-size: 0;
	background-color: @link-background-color;
	.box-shadow(inset 0px 0px 0px 3px @connector-bg-color);
}
.button(@bg-color, @text-color){
	border: @button-border;
	.box-shadow(0px 1px 0px 0px rgba(0,0,0,1));
	.pointer-cursor();
	background-color: @bg-color;
	color: @text-color;

	&:hover{
		background-color:@text-color;
		&:after{
			color: @bg-color;
		}
	}
}
// Hack to expose css variables to javascript
#cssdata{
	display: none !important;
	font-family: '{"linkLineWidth":@{link-line-width}, "linkLineColor":"@{link-line-color}"}';
}
// General ---------------------------------------------------------------------
body{
	padding: 0;
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	font-family: @font-family;
}
input[type=text]{
	font-family: @font-family;
}
.loading{
	background-color: red;
}

// Definition List -------------------------------------------------------------
.definition-list{
	background-color: yellow; 
	position: absolute;
	top:0;
	left: 0;
	width: 15%;
	min-height: 100%;
}
.definition-item{
	position: relative;
	height: 20px;

	&.expanded{
		height: auto;

		.description{
			display: block;
		}
	}
	.title,
	.description{
		width: 90%;
		padding-left: 20px;
	}

	.title{
		margin: 0;
	}
	
	.description{
		display: none;
	}

	.toggle{
		position: absolute;
		top: 0;
		left: 0;
	}

	.insert{
		position: absolute;
		top: 0;
		right: 0;
		width: 10%;
		height: 100%;
	}
}
// Visual Editor ---------------------------------------------------------------
.visual-editor{
	background-color: @visual-editor-bg-color; 
	position: absolute;
	top:0;
	left: 15%;
	width: 85%;
	height: 100%;
	overflow: hidden;
}
.visual-node{
	position: absolute;
	display: table;
	width: @visual-node-min-width;
	min-height: @visual-node-min-height;

	background-color: @visual-node-bg-color;
	border: @visual-node-border;
	.border-radius(10px);

	padding-top: 10px;
	padding-bottom: 10px; 

	&.selected{
		background-color: @visual-node-selected-bg-color;
	}
	&.focus{
		background-color: @visual-node-focus-bg-color;
		.delete{
			display: block;
		}
	}
	.draggable-layer{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		//background-color: red;
	}

	.delete{
		position: absolute;
		top: (@delete-button-height * -0.5);
		right: (@delete-button-width * -0.5);
		width: @delete-button-width;
		height: @delete-button-height;
		.border-radius(@delete-button-height * 0.5);
		.appearance(none);
		.button(@delete-button-bg-color, @delete-button-text-color);
	
		display: none;
		&:after{
			display: block;
			content: '\00D7';
			
			font-weight: bold;
			font-size: 12px;
		}
	}

	.title{
		width: 100%;
		text-align: center;
		display: table-cell;
		vertical-align: middle;
		padding: 0 50px;
	}

	.inputs{
		display: table-cell;
		vertical-align: middle;
		> *{
			margin-bottom: 5px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
	.outputs{
		display: table-cell;
		vertical-align: middle;
	}
}

.visual-node-input,
.visual-node-output,
.collection-container{
	.text{
		height: 100%;
		position: absolute;
		line-height: @connector-height;
		font-size:  @connector-font-size;
		.placeholder&{
			color: @input-placeholder-color;
		}
	}
}
.visual-node-input,
.visual-node-output{
	height: @connector-height;
	.label{
		position: relative;
		display: block;
		height: 100%;
		.input,
		.input-mirror{
			.connector-input-style();
		}
		
		.input-mirror{
			.placeholder&{
				color: @input-placeholder-color;
				border-color: @input-placeholder-color;
			}
		}

	}
}

.visual-node-input{
	&:single-child{
		margin-bottom: 0;
	}
	
	.label{

		.text{
			left: @connector-input-offset;
		}
		.input,
		.input-mirror{
			right: @connector-text-offset;
		}
		.input{
			opacity: 0;
			width: @connector-focus-input-width;
			&:focus {
				opacity: 1;
			}
		}
		.input:focus + .input-mirror{
			display: none;
		}

		.input-mirror{
			.connected-to-output&{
				.connected-connector();
			}
		}
	}

	
}
.visual-node-output{
	.label{

		.text{
			right: @connector-input-offset;
		}
		.input-mirror{
			left: @connector-text-offset;
			.border-radius(@connector-height);
		}
		.input-mirror{
			.placeholder&{
				color: @input-placeholder-color;
				border-color: @input-placeholder-color;

			}
			&:not(.draggable-input-mirror){
				.connected-to-input&{
					.connected-connector();
				}
			}

			&.draggable-input-mirror{
				opacity: 0;
				.dragging&{
					opacity: 1;
				}
			}
			
		}
	}
}

.collection-container{
	.adder-container{
		height: @connector-height;
		position: relative;
		.button{
			.button(@collection-adder-button-bg-color, @collection-adder-button-text-color);
			.connector-input-style();
			.border-radius(100%);
			left: @connector-text-offset;
			&:after{
				display: block;
				content: '\002B';
				font-weight: bold;
				font-size: 10px;
			}
		}
		.text{
			left: @connector-input-offset;
			.placeholder&{
				color: @input-placeholder-color;
			}
		}

		+ .visual-node-input {
			margin-top: 2px;
		}
	}

	.visual-node-input {
		margin-bottom: 2px;
		&:last-child{
			margin-bottom: 0;
		}
	}

}