@import "reset.css";
#cssdata {
  display: none !important;
  font-family: '{"input-letter-width":10,"input-letter-height":10}';
}
body {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: monospace;
}
input[type=text] {
  font-family: monospace;
}
.loading {
  background-color: red;
}
.definition-list {
  background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  min-height: 100%;
}
.definition-item {
  position: relative;
  height: 20px;
}
.definition-item.expanded {
  height: auto;
}
.definition-item.expanded .description {
  display: block;
}
.definition-item .title,
.definition-item .description {
  width: 90%;
  padding-left: 20px;
}
.definition-item .title {
  margin: 0;
}
.definition-item .description {
  display: none;
}
.definition-item .toggle {
  position: absolute;
  top: 0;
  left: 0;
}
.definition-item .insert {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
}
.visual-editor {
  background-color: #727272;
  position: absolute;
  top: 0;
  left: 15%;
  width: 85%;
  height: 100%;
  overflow: hidden;
}
.visual-node {
  position: absolute;
  display: table;
  width: 180px;
  min-height: 120px;
  background-color: #ffffff;
  border: solid 2px #000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
.visual-node.selected {
  background-color: #ffff00;
}
.visual-node.focus {
  background-color: #ffff00;
}
.visual-node.focus .delete {
  display: block;
}
.visual-node .draggable-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.visual-node .delete {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: solid 3px #000;
  background-color: #fff;
  display: none;
}
.visual-node .title {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
.visual-node .inputs {
  display: table-cell;
  vertical-align: middle;
}
.visual-node .outputs {
  display: table-cell;
  vertical-align: middle;
}
.visual-node-input,
.visual-node-output {
  height: 20px;
}
.visual-node-input .label,
.visual-node-output .label {
  position: relative;
  display: block;
  height: 100%;
}
.visual-node-input .label .text,
.visual-node-output .label .text {
  height: 100%;
  position: absolute;
  line-height: 20px;
  font-size: 11px;
}
.placeholder.visual-node-input .label .text,
.placeholder.visual-node-output .label .text {
  color: #999999;
}
.visual-node-input .label .input,
.visual-node-output .label .input,
.visual-node-input .label .input-mirror,
.visual-node-output .label .input-mirror {
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: solid 1px black;
  text-align: right;
  background-color: white;
  font-size: 11px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 6px;
}
.placeholder.visual-node-input .label .input-mirror,
.placeholder.visual-node-output .label .input-mirror {
  color: #999999;
  border-color: #999999;
}
.visual-node-input {
  margin-bottom: 5px;
}
.visual-node-input:single-child {
  margin-bottom: 0;
}
.visual-node-input .label .text {
  left: 15px;
}
.visual-node-input .label .input,
.visual-node-input .label .input-mirror {
  right: -10px;
}
.visual-node-input .label .input {
  opacity: 0;
  width: 100px;
}
.visual-node-input .label .input:focus {
  opacity: 1;
}
.visual-node-input .label .input:focus + .input-mirror {
  display: none;
}
.visual-node-output .label .text {
  right: 15px;
}
.visual-node-output .label .input-mirror {
  left: -10px;
}
.placeholder.visual-node-output .label .input-mirror {
  color: #999999;
  border-color: #999999;
}
