@import "reset.css";
#cssdata {
  display: none !important;
  font-family: '{"linkLineWidth":2, "linkLineColor":"#000000"}';
}
body {
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: monospace;
}
input[type=text] {
  font-family: monospace;
}
input[type=radio] {
  font-family: monospace;
}
input:focus {
  outline: 0;
}
.loading {
  background-color: red;
}
.menu {
  background-color: #272727;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7%;
}
.menu .tabs {
  position: absolute;
  height: 90%;
  right: 0;
  bottom: 0;
  width: 85%;
}
.menu .tab {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: table;
  float: left;
  margin: 0;
  padding: 0;
  width: 20%;
  height: 100%;
  background-color: #494949;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: bottom;
  -webkit-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.75);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
.menu .tab:checked {
  background-color: #727272;
  z-index: 1;
}
.menu .tab:after {
  display: block;
  color: white;
  text-align: center;
  font-size: 12px;
  height: 100%;
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.menu .tab.visual:after {
  content: 'Visual Editor';
}
.menu .tab.code:after {
  content: 'Code Editor';
}
.menu .tab.serial:after {
  content: 'Serial Monitor';
}
.definition-list {
  background-color: yellow;
  position: absolute;
  top: 7%;
  left: 0;
  width: 15%;
  min-height: 93%;
}
.definition-item {
  position: relative;
  height: 20px;
}
.definition-item.expanded {
  height: auto;
}
.definition-item.expanded .description {
  display: block;
}
.definition-item .title,
.definition-item .description {
  width: 90%;
  padding-left: 20px;
}
.definition-item .title {
  margin: 0;
}
.definition-item .description {
  display: none;
}
.definition-item .toggle {
  position: absolute;
  top: 0;
  left: 0;
}
.definition-item .insert {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
}
.visual-editor {
  background-color: #727272;
  position: absolute;
  top: 7%;
  left: 15%;
  width: 85%;
  min-height: 93%;
  overflow: hidden;
}
.visual-node {
  position: absolute;
  display: table;
  width: 150px;
  min-height: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border: solid 2px #000000;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.visual-node.selected {
  background-color: rgba(255, 255, 200, 0.8);
}
.visual-node.focus {
  background-color: rgba(255, 255, 200, 0.9);
}
.visual-node.focus .delete {
  display: block;
}
.visual-node .draggable-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.visual-node .delete {
  position: absolute;
  top: -12.5px;
  right: -12.5px;
  width: 25px;
  height: 25px;
  -webkit-border-radius: 12.5px;
  -moz-border-radius: 12.5px;
  -ms-border-radius: 12.5px;
  -o-border-radius: 12.5px;
  border-radius: 12.5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: solid 1px #000000;
  -webkit-box-shadow: 0px 1px 0px 0px #000000;
  -moz-box-shadow: 0px 1px 0px 0px #000000;
  -ms-box-shadow: 0px 1px 0px 0px #000000;
  -o-box-shadow: 0px 1px 0px 0px #000000;
  box-shadow: 0px 1px 0px 0px #000000;
  cursor: -webkit-pointer;
  cursor: -moz-pointer;
  cursor: pointer;
  background-color: #ffffff;
  color: #ff0000;
  display: none;
}
.visual-node .delete:hover {
  background-color: #ff0000;
}
.visual-node .delete:hover:after {
  color: #ffffff;
}
.visual-node .delete:after {
  display: block;
  content: '\00D7';
  font-weight: bold;
  font-size: 12px;
}
.visual-node .title {
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0 50px;
}
.visual-node .inputs {
  display: table-cell;
  vertical-align: middle;
}
.visual-node .inputs > * {
  margin-bottom: 5px;
}
.visual-node .inputs > *:last-child {
  margin-bottom: 0;
}
.visual-node .outputs {
  display: table-cell;
  vertical-align: middle;
}
.visual-node-input .text,
.visual-node-output .text,
.collection-container .text {
  height: 100%;
  position: absolute;
  line-height: 20px;
  font-size: 11px;
}
.placeholder.visual-node-input .text,
.placeholder.visual-node-output .text,
.placeholder.collection-container .text {
  color: #999999;
}
.visual-node-input,
.visual-node-output {
  height: 20px;
}
.visual-node-input .label,
.visual-node-output .label {
  position: relative;
  display: block;
  height: 100%;
}
.visual-node-input .label .input,
.visual-node-output .label .input,
.visual-node-input .label .input-mirror,
.visual-node-output .label .input-mirror {
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: solid 1px #000000;
  text-align: right;
  background-color: #ffffff;
  font-size: 11px;
  margin: 0;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 6px;
}
.placeholder.visual-node-input .label .input-mirror,
.placeholder.visual-node-output .label .input-mirror {
  color: #999999;
  border-color: #999999;
}
.visual-node-input {
  position: relative;
}
.visual-node-input:single-child {
  margin-bottom: 0;
}
.visual-node-input .label .text {
  left: 15px;
}
.visual-node-input .label .input,
.visual-node-input .label .input-mirror {
  right: -10px;
}
.visual-node-input .label .input {
  opacity: 0;
  width: 100px;
}
.visual-node-input .label .input:focus {
  opacity: 1;
}
.visual-node-input .label .input:focus + .input-mirror {
  display: none;
}
.connected-to-output.visual-node-input .label .input-mirror {
  width: 21px;
  overflow: hidden;
  font-size: 0;
  background-color: #000000;
  -webkit-box-shadow: inset 0px 0px 0px 3px #ffffff;
  -moz-box-shadow: inset 0px 0px 0px 3px #ffffff;
  -ms-box-shadow: inset 0px 0px 0px 3px #ffffff;
  -o-box-shadow: inset 0px 0px 0px 3px #ffffff;
  box-shadow: inset 0px 0px 0px 3px #ffffff;
}
.visual-node-output .label .text {
  right: 15px;
}
.visual-node-output .label .input-mirror {
  left: -10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
.placeholder.visual-node-output .label .input-mirror {
  color: #999999;
  border-color: #999999;
}
.connected-to-input.visual-node-output .label .input-mirror:not(.draggable-input-mirror) {
  width: 21px;
  overflow: hidden;
  font-size: 0;
  background-color: #000000;
  -webkit-box-shadow: inset 0px 0px 0px 3px #ffffff;
  -moz-box-shadow: inset 0px 0px 0px 3px #ffffff;
  -ms-box-shadow: inset 0px 0px 0px 3px #ffffff;
  -o-box-shadow: inset 0px 0px 0px 3px #ffffff;
  box-shadow: inset 0px 0px 0px 3px #ffffff;
}
.visual-node-output .label .input-mirror.draggable-input-mirror {
  opacity: 0;
}
.dragging.visual-node-output .label .input-mirror.draggable-input-mirror {
  opacity: 1;
}
.collection-container .adder-container {
  height: 20px;
  position: relative;
}
.collection-container .adder-container .button {
  -webkit-box-shadow: 0px 1px 0px 0px #000000;
  -moz-box-shadow: 0px 1px 0px 0px #000000;
  -ms-box-shadow: 0px 1px 0px 0px #000000;
  -o-box-shadow: 0px 1px 0px 0px #000000;
  box-shadow: 0px 1px 0px 0px #000000;
  cursor: -webkit-pointer;
  cursor: -moz-pointer;
  cursor: pointer;
  color: #000000;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: solid 1px #000000;
  text-align: right;
  background-color: #ffffff;
  font-size: 11px;
  margin: 0;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  left: -10px;
}
.collection-container .adder-container .button:hover {
  background-color: #000000;
}
.collection-container .adder-container .button:hover:after {
  color: #ffffff;
}
.collection-container .adder-container .button:after {
  display: block;
  content: '\002B';
  font-weight: bold;
  font-size: 10px;
}
.collection-container .adder-container .text {
  left: 15px;
}
.placeholder.collection-container .adder-container .text {
  color: #999999;
}
.collection-container .adder-container + .visual-node-input {
  margin-top: 2px;
}
.collection-container .visual-node-input {
  margin-bottom: 2px;
}
.collection-container .visual-node-input:last-child {
  margin-bottom: 0;
}
.collection-container .visual-node-input .delete-button {
  -webkit-box-shadow: 0px 1px 0px 0px #000000;
  -moz-box-shadow: 0px 1px 0px 0px #000000;
  -ms-box-shadow: 0px 1px 0px 0px #000000;
  -o-box-shadow: 0px 1px 0px 0px #000000;
  box-shadow: 0px 1px 0px 0px #000000;
  cursor: -webkit-pointer;
  cursor: -moz-pointer;
  cursor: pointer;
  color: #000000;
  height: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: solid 1px #000000;
  text-align: right;
  background-color: #ffffff;
  font-size: 11px;
  margin: 0;
  position: absolute;
  top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 6px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  height: 70%;
  padding: 0px 3px;
  left: 10px;
  top: 3px;
}
.collection-container .visual-node-input .delete-button:hover {
  background-color: #000000;
}
.collection-container .visual-node-input .delete-button:hover:after {
  color: #ffffff;
}
.collection-container .visual-node-input .delete-button:after {
  display: block;
  content: '\002212';
  font-weight: bold;
  font-size: 10px;
}
.collection-container .visual-node-input .label .text {
  left: 30px;
}
.ui-serial-monitor {
  position: absolute;
  top: 7%;
  left: 15%;
  width: 85%;
  min-height: 93%;
  overflow: hidden;
}
.ui-serial-monitor iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
